body{
  
}
.heading{
  background: url(bob.jpeg);
  background-repeat: no-repeat;
  margin: 100px;
  border: 2px solidblack;
  opacity: 0.2;
}

h1{
  color: MediumSeaGreen;
  text-orientation: center;
  font-weight: Bold;
}

h2{
  color:lightgreen;
}

.dashed{
  border-style: dashed;
}

.navbar{
  background-color: Teal;
}


