body{
  background-image: url("Spongebob_Title.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 100px;
  background-attachment: fixed;
}
html{
  height:100%;
  width: 100%
}

h2{
  color: black;
  font-weight: bold;
}

.box{
  margin: 30px;
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
  opacity: 0.7;
  padding: 20px 200px;
  text-align: center;
}
.glyphicon-star{
  color: yellow;
}

